google-api-python-client
pandas
matplotlib
seaborn
vaderSentiment
streamlit
scikit-learn
wordcloud
clean-text
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz

